@shared.layouts({title: 'All movies'})
  <h2 class="text-white font-reddit text-5xl text-center mt-3">
    {{ title || 'Movies' }}
  </h2>

  <section class="py-5 px-7 xl:px-96">
    @!form.filter({sortOptions, filter})

    @each(movie in movies)
      @!movie.movie({ movie })
    @end
  </section>

@end
