@shared.layouts({title: title})

  <div class="bg-white w-4/6 md:w-2/6 m-auto mt-20 font-lato rounded-lg">

    <h1 class="text-center text-white bg-gray-900 py-2  text-3xl">
      Please, check your email
    </h1>
    <p class="text-center text-2xl mt-10 pb-10">
      {{ text }}
    </p>

    <p class="text-red-500 text-center pb-5">
      Link expires in 3 hours
    </p>

  </div>
@end
