@shared.layouts({title: "Login"})
  <div class="flex flex-col items-center  px-6 py-8 mx-auto  md:h-screen lg:py-0">

    <div class="w-full rounded-lg md:mt-0 sm:max-w-md">

      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

        <div style="" class="">
          <img src="/public//login2.jpg" class="" />
        </div>

        <form class="space-y-4 md:space-y-6 w-full" method="POST" action="{{ route('auth.login.store') }}">
          {{ csrfField() }}
          <div>
            @!form.input({
              label: 'Email',
              name: 'email',
              required: true,
              placeholder: 'john.doe@gmail.com',
              type: 'email'
            })
          </div>
          <div>
            @!form.input({
              label: 'Password',
              name: 'password',
              required: true,
              type: 'password',
              placeholder: '*******',
            
            })
          </div>

          <div>
            @!form.input({
              label: 'Remember me ?',
              name: 'isRememberMe',
              type: 'checkbox',
              checkbox: true,
              className: "bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            })
          </div>
          <div class="flex items-center">
            <a
              href="{{ route('auth.forgot-password.show') }}"
              class="text-sm text-blue-400 font-medium text-primary-600 hover:underline dark:text-primary-500"
            >Forgot password ?</a>
          </div>
          @shared.animatedButton({
            type: 'submit',
            bgColor: 'bg-gray-700'
          })
            Login
          @end
          
          @error('E_INVALID_CREDENTIALS')
            <div class="text-center bg-red-200 p-5 rounded-lg">
              <span class="text-red-500">Bad credentials</span>
            </div>
          @end
          @error('E_ERROR')
            <div class="text-center bg-red-200 p-5 rounded-lg flex flex-col">
              <span class="text-red-500">{{ $message }}</span>

              @shared.button({
                href: route('auth.verify-email-sent-back.show'),
                class: 'text-center font-lato bg-gray-900 text-sm m-auto rounded text-white px-5 py-2 mt-2 hover:bg-gray-600'
              })
                Resend confirmation link
              @end
              
            </div>
          @end
          
        </form>

      </div>
    </div>
  @end
