@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'reddit';
    src: url(/fonts/RedditSans-Italic-VariableFont_wght.ttf) format('woff2');
  }
  @font-face {
    font-family: 'lato';
    src: url(/fonts/Lato-Light.ttf) format('woff2');;
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background: #3b3ba1; */
  padding: 0;
  /* background-image: url('../../public/bg.jpg');
  background-size: cover;
  position: fixed; */
}


form {
  width: 70%;
  margin: auto;
  height: 500px;
}



.watchlist-image {
  height: 470px;
}

.banner {
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  background-size: cover; /* Ajuste l'image pour qu'elle couvre tout l'élément */
  background-position: center; /* Centre l'image pour un meilleur rendu */

}
.carousel-content{
  height: 110vh;
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(14, 11, 11));
}
.carousel {


}


@media only screen and (max-width: 1024px) {
  .watchlist-image {
    width: 350px;
    text-align: center;
  }
}