@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'reddit';
    src: url(/fonts/RedditSans-Italic-VariableFont_wght.ttf) format('woff2');
  }
  @font-face {
    font-family: 'lato';
    src: url(/fonts/Lato-Light.ttf) format('woff2');;
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /* background-image: url('../../public/bg.jpg');
  background-size: cover;
  position: fixed; */
}

h2 {
  z-index: 60;
}

form {
  width: 70%;
  margin: auto;
  height: 500px;
}



.background {
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  background-size: cover !important; 
  background-position: center !important   ; 
}


.banner-content{
  min-height: 100vh;
  background: 
  linear-gradient(to bottom, transparent 50%, black 100%),

  linear-gradient(to left, transparent 0%, black 60%);
}

.shadow-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -20;
  background: 
  linear-gradient(to bottom, transparent 50%, black 100%),
  linear-gradient(to top, transparent 50%, black 100%),
  linear-gradient(to left, transparent 0%, black 60%);
  
}


